{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}

<div class="container"></div>
<table class="table">
  <thead class="thead"></thead>
  
    

  
  <div class="row"> 
    <div class="col-lg-4">         
      <div class="col-lg-3"> 544 646 46</div>
      <div class="col-lg-3"> 544 646 46</div>
      <div class="col-lg-2"> 544 646 46</div>
      <div class="col-lg-2"> 544 646 46</div>
      <div class="col-lg-2"> 544 646 46</div>
    </div>
    <div class="col-lg-8">          
      <div class="col-lg-1">544 64646</div>
      <div class="col-lg-1">544 64646</div>
      <div class="col-lg-2">544 64646</div>
      <div class="col-lg-2">544 64646</div>
      <div class="col-lg-2">544 64646</div>
      <div class="col-lg-2">544 64646</div>
      <div class="col-lg-2">544 64646</div>
    </div>       
  </div> 
  </thead>
</table>
</div>