{%extends "base.html"%}
{% load staticfiles %}

{% block body %}
<form class="form-group bg-light was-validated" autocomplete="off" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="custom-file" id="ff">
    <input type="file" class="custom-file-input" id="id_{{form.filename.name}}" name="{{form.filename.name}}" required>
    <label class="custom-file-label" for="id_{{form.filename.name}}">Имя файла</label>
    <div class="invalid-feedback">
        {% if form.filename.errors %}
        <ol>
        {% for error in form.filename.errors %}
            <strong>{{ error|escape }}</strong>
        {% endfor %}
        </ol>
        {% else %}
        <strong>Пожалуйста, выберите файл для обработки:</strong>
        
    {% endif %}
      </div>
  </div>
  <input type="submit" class="btn btn-primary btn-block">
</form>
{{ msg }}
{% endblock %}

{%block add_script %}
<script src={% static "upload/123.js" %}></script>
{% endblock %}