{% extends 'page.html' %}
{% load staticfiles %}


{% block left_head %}
<div class="jumbotron">
    <h3>
        <div style="display:inline-block;">Сводка на: </div>
        <div id="show_date" style="display:inline-block;"></div>
    </h3>
</div>
    
{% endblock %}

{% block right_head %}
    
{% endblock %}

{% block main_block %}<div id="table"></div>{% endblock %}

{% block footer %}
<div style="display:inline-block;">Обновление через:</div>
<div id="message" style="display:inline-block;"></div>
<div style="display:inline-block;"> секунд ...</div>
{% endblock %}

{%block add_script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src={% static "main_app/renew.js" %}></script>
{% endblock %}