{% extends 'page.html' %}
{% load staticfiles %}


{% block head %}
<a class="navbar-text" id="show_date"></a>
<a class="navbar-brand" href="#"><div>Табло</div></a>   
<a class="navbar-brand" href="#"><div>Операции</div></a> 
{% endblock %}

{% block head2 %}
{% if curr_user %}
<div><span class="text-right">


<a class="navbar-text text-light text-left"><span class="text-left">Пользователь: {{curr_user}}</span>  </a>
<a class="navbar-text text-light" href="logout"><span class="text-right">Log out</span></a>
</span></div>
{% else %}
<a class="navbar-text text-light">Пользователь не авторизован  </a>
<a class="navbar-text text-light" href="login">Log in</a>
{% endif %}

{% endblock %}

{% block main_block %}<div id="table"></div>{% endblock %}

{% block foot %}
<a class="navbar-brand" href="#">Обновление через: <div id="message" style="display:inline-block;"></div> сек.</a>    
{% endblock %}

{%block add_script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src={% static "main_app/renew.js" %}></script>
{% endblock %}