{% extends 'page.html' %}
{% load staticfiles %}


{% block head %}
<a class="navbar-brand" href="#">Сводка на: <div id="show_date" style="display:inline-block;"></div></a>    
{% endblock %}

{% block main_block %}<div id="table"></div>{% endblock %}

{% block foot %}
<a class="navbar-brand" href="#">Обновление через: <div id="message" style="display:inline-block;"></div> сек.</a>    
{% endblock %}

{%block add_script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src={% static "main_app/renew.js" %}></script>
{% endblock %}