<!-- Шаблон талицы для вывода на монитор -->
{% load static%}

  <table class="table table-sm table-dark table-striped ">
    <thead class="thead-inverse">
      <tr>
          {% for h in headers %}
          <th class="text-center font-italic">{{h}}</th>
          {% endfor %}              
      </tr>
    </thead>
    <tbody>
      {%for i in records %}
        <tr> 
          <div class="col-lg-4">  
            <div class="col-lg-6">      
              <td class="text-center">{{i.p_date|date:"d-m-Y"}}</td>
              <td class="text-left">{{i.p_marking}}</td>
            </div>
            <div class="col-lg-6">      
              <td class="text-center">{{i.p_batch}}</td>
              <td class="text-center">{{i.p_plan}}</td>
              <td class="text-center">{{i.p_apparatus}}</td>
            </div>           
          </div>
          <div class="col-lg-8">          
            <div class="col-lg-2"> 
              <td class="text-center">{{i.p_container}}</td>
              <td class="text-center font-weight-bold">{{i.p_conveyor}}</td>
            </div>
            <div class="col-lg-10"> 
              {% if i.app_time.f_time %}
                <td class="text-center">
                  <form name="app_edit" method="POST" action="edit_adm/app/{{i.id}}">
                    {% csrf_token %}
                    <button class="btn btn-success" type=submit>
                      <span class="small">
                        {{i.app_time.f_time|time:"f"}} {{i.app_time.f_user.first_name}} {{i.app_time.f_user.last_name}}
                      </span>
                    </button>            
                  </form>
                </td>
              {% else %}
                <td class="text-center">
                  <form name="app_add" method="POST" action="add_adm/app/{{i.id}}">
                    {% csrf_token %}
                    <button class="btn btn-dark" type=submit>
                      +
                    </button>               
                  </form>
                </td>
              {% endif%}
              {% if i.plug_time.f_time %}
                <td class="text-center">
                  <form name="plug_edit" method="POST" action="edit_adm/plug/{{i.id}}">
                    {% csrf_token %}
                    <button class="btn btn-success" type=submit>
                      <span class="small">
                        {{i.plug_time.f_time|time:"f"}} {{i.plug_time.f_user.first_name}} {{i.plug_time.f_user.last_name}}
                      </span>
                    </button>            
                  </form>
                </td>
              {% else %}
                <td class="text-center">
                  <form name="plug_add" method="POST" action="add_adm/plug/{{i.id}}">
                    {% csrf_token %}
                    <button class="btn btn-dark" type=submit>
                      +
                    </button>               
                  </form>
                </td>
              {% endif%}

              
              <td class="text-center">{{i.conv_time.f_time}}</td>
              <td class="text-center">{{i.prod_time.f_time}}</td>
              <td class="text-center">{{i.start_time.f_time}}</td>
            </div>
          </div>       
        </tr> 
      {% endfor %} 
    </tbody>   
  </table>

