{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}

<div class="container-fluid"></div>
<table class="table table-sm">
  <thead class="thead">
     <tr>
        {% for h in headers %}
        <th>{{h}}</th>
        {% endfor %}              
    </tr>
  </thead>
<tbody>
  {%for i in records %}
  <tr> 
    <div class="col-lg-4">  
      <div class="col-lg-6">      
        <td>{{i.p_date}}</td>
        <td>{{i.p_marking}}</td>
      </div>
      <div class="col-lg-6">      
        <td>{{i.p_batch}}</td>
        <td>{{i.p_plan}}</td>
        <td>{{i.p_apparatus}}</td>
      </div>           
    </div>
    <div class="col-lg-8">          
        <div class="col-lg-2"> 
          <td >{{i.p_container}}</td>
          <td >{{i.p_conveyor}}</td>
        </div>
        <div class="col-lg-10"> 
          <td >{{i.app_time.f_time}}</td>
          <td >{{i.plug_time.f_time}}</td>
          <td >{{i.conv_time.f_time}}</td>
          <td >{{i.prod_time.f_time}}</td>
          <td >{{i.start_time.f_time}}</td>
        </div>
    </div>       
  </tr> 
  {% endfor %} 
</tbody>   
</table>
</div>