<table class="table-inverse">
        <thead>
          <tr>
            <th style="width: 4%">Дата</th>
            <th style="width: 11%">Артикул</th>
            <th style="width: 4%">№ партии</th>
            <th style="width: 5%">План</th>
            <th style="width: 4%">№ аппар.</th>
            <th style="width: 5%">№ емкости</th>
            <th style="width: 5%">№ конв.</th>
            <th style="width: 12%">Проба из аппарата</th>
            <th style="width: 12%">Допуск на подключение</th>
            <th style="width: 12%">Проба с конвейера</th>
            <th style="width: 12%">Допуск на фасовку</th>
            <th style="width: 12%">Начало фасовки</th>            
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td>Val 3</td>
            <td>Val 4</td>
            <td>Val 5</td>
            <td>Val 1</td>
            <td>Val 2</td>
            <td>Val 3</td>
            <td>Val 4</td>
            <td>Val 5</td>
            <td>Val 1</td>
            <td>Val 2</td>
            <td>Val 3</td>
            <td>Val 4</td>
            
          </tr>
        </tbody>
      </table>