{% load staticfiles %}
{% load bootstrap3 %}
<style type="text/css">
  .row_grid{
    border-collapse:collapse;   
  }
  .col_grid { 
    border-collapse:collapse;
    border: 1px solid black;
    whitespace:normal;
    height: 50pt;
    }
</style>
{% bootstrap_css %}


<table>
<!-- <div class="col-md-12" > -->
 <div class="row row_grid"> 
   <div class="col-md-2">
     <div class="row row_grid">
     <div class="col-md-3 col_grid"> 544 646 46</div>
     <div class="col-md-6 col_grid">5446 4646</div>
     <div class="col-md-3 col_grid">54 464646</div>
    </div>
   </div>  
   <div class="col-md-2">
      <div class="row">
      <div class="col-md-3 col_grid">544 64646</div>
      <div class="col-md-3 col_grid">544 64646</div>
      <div class="col-md-3 col_grid">544  64646</div>
      <div class="col-md-3 col_grid">54464 646</div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="row">
      <div class="col-md-4 col_grid">544 64646</div>
      <div class="col-md-4 col_grid">54 464646</div>
      <div class="col-md-4 col_grid">5446 4646</div>     
      </div>
    </div>
    <div class="col-md-4">
        <div class="row">
        <div class="col-md-3 col_grid">544 64646</div>
        <div class="col-md-3 col_grid">544 64646</div>
        <div class="col-md-3 col_grid">54464 646</div>
        <div class="col-md-3 col_grid">544 64646</div>
        </div>
      </div>
  </div>
<!-- </div> -->
</table>
<!-- <table class="table-bordered">  
  {% for j in headers %}  
      <th class="col-1-12">{{j}}</th>
     
    
  {% endfor %}

  {% for i in records %}
    <tr>
      <td>{{i.p_date.day}}/{{i.p_date.month}}/{{i.p_date.year}}</td>
      <td>{{i.p_marking}}</td>
      <td>{{i.p_batch}}</td>
      <td>{{i.p_plan}}</td>
      <td>{{i.p_apparatus}}</td>
      <td>{{i.p_container}}</td>
      <td>{{i.p_conveyor}}</td>
      <td>
          {% if i.app_time.f_time %}
            <form name="app_edit" method="POST" action="edit_adm/app/{{i.id}}">
              {% csrf_token %}
              <button type=submit>
                  {{i.app_time.f_time}} <br>
                  {{i.app_time.f_user.first_name}} {{i.app_time.f_user.last_name}}
              </button>            
            </form>
          {% else %}
            <form name="app_add" method="POST" action="add_adm/app/{{i.id}}">
              {% csrf_token %}
              <button type=submit>
                  "Зафиксировать время"
              </button>               
            </form>
          {% endif %}
      </td>
      <td>
        {% if i.plug_time.f_time %}
          <form name="plug_edit" method="POST" action="edit_adm/plug/{{i.id}}">
            {% csrf_token %}
            <button type=submit>
                {{i.plug_time.f_time}} <br>
                {{i.plug_time.f_user.first_name}} {{i.plug_time.f_user.last_name}}
            </button>            
          </form>
        {% else %}
          <form name="plug_add" method="POST" action="add_adm/plug/{{i.id}}">
            {% csrf_token %}
            <button type=submit>
                "Уст. время"
            </button>               
          </form>
        {% endif %}
    </td>
    
    </tr>
  {% endfor %}
</table> -->
